<% include header.ejs %>
<link rel="stylesheet" href="/public/assets/css/vishnucustom.css">
<body>
    <div class="flexbox">
        <% include vishnumenubar.ejs %>
        <div class="content">
            <br>
            <h2 align="center">เพิ่มกิจกรรม</h2>
            <br>
            <form class="form-inline" action="addactivity" method="post">
                <div class="col-md-5">
                    <label for="subjectCode">Activity Name</label>
                    <input type="text" name="Aname" class="form-control">
                </div>

                <div class="col-md-5">
                    <label for="sectionNo">Activity Year</label>
                    <input type="text" name="Ayear" class="form-control">
                </div>

                <div class="col-md-5">
                    <label for="sectionNo">Held Place</label>
                    <input type="text" name="Place" class="form-control">
                </div>

                <br>
                <!-- _________________________ -->

                <div class="col-md-5">
                    <label for="sectionNo">Date</label>
                    <label for="format1">(YYYY-MM-DD)</label>
                    <input type="text" name="Date" class="form-control">
                </div>

                <div class="col-md-5">
                    <label for="sectionNo">Begin Time</label>
                    <label for="format1">(HH:MM)</label>
                    <input type="text" name="Btime" class="form-control">
                </div>

                <div class="col-md-5">
                    <label for="sectionNo">End Time</label>
                    <label for="format1">(HH:MM)</label>
                    <input type="text" name="Etime" class="form-control">
                </div>
                <div class="col-md-2">
                    <button type="Submit" class="btn btn-primary">Submit</button>
                </div>
                <% if(typeof error !== "undefined") { %>
                    <br>
                    <br>
                    <h5 style="color:red;"><%= error %></h5>
                <% } %>
                <% if(typeof success != "undefined") { %>
                    <br>
                    <br>
                    <h5 style="color:green;"><%= success %></h5>
                <% } %>
            </form>
            
        </div>
    </div>
</body>
<% include footer.ejs %>