<% include header.ejs %>
<link rel="stylesheet" href="/public/assets/css/vishnucustom.css">
<body>
    <div class="flexbox">
        <% include vishnumenubar.ejs %>
        <div class="content">
            <br>
            <h3 align="center">เพิ่มนิสิตที่เข้าร่วมกิจกรรม <%= Aname %></h3>
            <br>
            <% let url = Aname %>
            <form class="form-inline" action="<%= url %>" method="post">
                <div class="col-md-5">
                    <label>รหัสนิสิต</label>
                    <input type="text" name="Sid" class="form-control">
                </div>
                <div class="col-md-5">
                    <label>ปีการศึกษา</label>
                    <input type="text" name="Ayear" class="form-control">
                </div>

                <br>
                
                <!-- _________________________ -->

                <div class="col-md-2">
                    <button type="Submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</body>
<% include footer.ejs %>