<% include header.ejs %>
<style>
        html, body {
            height: 100%;
            margin: 0;
            text-align: center;
        }

        div.flexbox {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 100%;
        }

        div.menubar {
            float: left;
            background-color: #f4f4f4c9;
            width: 300px;
            height: 100%;
        }

        .schoolimg {
            height: 150px; 
            width: auto; 
        }

        div.menubar > ul {
            position: relative;
            margin-right: auto;
            margin-left: auto;
            padding-left: 0;
            padding: 0;
        }
        
        div.content{
            position: relative;
            float: left;
            height: 100%;
            width: 100%;
        }

        div.col-md-2{
            position: relative;
            top: -180px;
        }

        form.form-inline{
            float: left;
            width: auto;
            padding: 0;
            margin-top: 50px;
        }

        input.form-control{
            margin-top: 10px;
            margin-bottom: 2px;
        }

        #hangbottom {
            position: relative;
            bottom: 10%;
            width: 40%;
            top: 300px;
        }
        
        table { 
            position: relative;
            margin: auto;
            border: none;
        } 

        tr {
            width: 100%;
            border: none;
        }
        tr:hover {
            background-color: #ffff99;
        }
        td.icon{
            padding-right: 10px;
        }

        a { 
            color: inherit; 
        } 
</style>

<body>
    <div class="flexbox">
        <% include menubar.ejs %>
        <div class="content">
            <div style="padding:100px">
                <h1>เพิ่มรายวิชา</h1>
                <form style="border:solid;border-width:thin;padding:10px;margin-top:20px" class="form-inline" method="post">
                    <div class="col-md-5">
                        <label for="subjectCode">Subject Code</label>
                        <input type="text" name="subjCode1" class="form-control">
                        <input type="text" name="subjCode2" class="form-control">
                        <input type="text" name="subjCode3" class="form-control">
                        <input type="text" name="subjCode4" class="form-control">
                        <input type="text" name="subjCode5" class="form-control">
                        <input type="text" name="subjCode6" class="form-control">
                        <input type="text" name="subjCode7" class="form-control">
                        <input type="text" name="subjCode8" class="form-control">
                        <input type="text" name="subjCode9" class="form-control">
                    </div>
                    <div class="col-md-5">
                        <label for="sectionNo">Section Number</label>
                        <input type="text" name="secNo1" class="form-control">
                        <input type="text" name="secNo2" class="form-control">
                        <input type="text" name="secNo3" class="form-control">
                        <input type="text" name="secNo4" class="form-control">
                        <input type="text" name="secNo5" class="form-control">
                        <input type="text" name="secNo6" class="form-control">
                        <input type="text" name="secNo7" class="form-control">
                        <input type="text" name="secNo8" class="form-control">
                        <input type="text" name="secNo9" class="form-control">
                    </div>
                    <div class="col-md-2">
                        <button type="Submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<% include footer.ejs %>