<div class="menubar">
    <img class="schoolimg" src="/public/assets/imgs/chulalogo.png"/>
    <div style='height:20px;'></div>
    <p>นักเรียน</p>
    <table class="mytable table table-hover" cellspacing="0" cellpadding="0">
        <tbody style="width:100%;">
            <tr>
                <td class="icon" ><i class="far fa-arrow-alt-circle-down" style="height:30px;width:auto;"></i></td>
                <td><a href="/addsubject">ลงทะเบียนเรียนปกติ</a></td>
            </tr>
            <tr>
                <td class="icon" ><i class="far fa-plus-square" style="height:30px;width:auto;"></i></td>
                <td><a href="/addsubject">เพิ่มรายวิชา</a></td>
            </tr>
            <tr>
                <td class="icon" ><i class="far fa-minus-square" style="height:30px;width:auto;"></i></td>
                <td><a href="/removesubject">ลดรายวิชา</a></td>
            </tr>
            <tr>
                <td class="icon" ><i class="fas fa-eraser" style="height:30px;width:auto;"></i></td>
                <td><a href="/withdrawsubject">ถอนรายวิชา</a></td>
            </tr>
            <tr>
                <td class="icon" ><i class="far fa-list-alt" style="height:30px;width:auto;"></i></td>
                <td><a href="/transcript">ขอใบ transcript</a></td>
            </tr>
            <tr>
                <td class="icon" ><i class="far fa-money-bill-alt" style="height:30px;width:auto;"></i></td>
                <td><a href="/payment">ชำระค่าศึกษา</a></td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-success" style="width:80%;margin:5px 0 5px 0;" href="/vishnu/menu"><i class="fab fa-accusoft" style="height:25px;width:auto;float:left"></i>จัดการค่ายวิษณุ</a>
    <a class="btn btn-danger" style="width:80%" href="/logout"><i class="fas fa-external-link-alt" style="height:25px;width:auto;float:left"></i></i>ออกจากระบบ</a>
</div>