<% include header.ejs %>
<link rel="stylesheet" href="/public/assets/css/custom.css">

<body>
    <div class="flexbox">
        <% include menubar.ejs %>
        <div class="content">
            <!-- put the content here -->
            <h1 style="color:red"><%= msg %></h1>
        </div>
    </div>
</body>
<% include footer.ejs %>