<div class="menubar">
    <img class="schoolimg" src="/public/assets/imgs/chulalogo.png"/>
    <div style='height:20px;'></div>
    <p>นักเรียน</p>
    <table class="mytable table table-hover" cellspacing="0" cellpadding="0">
        <tbody style="width:100%;">
            <tr>
                <td class="icon" ><i class="far fa-plus-square" style="height:30px;width:auto;"></i></td>
                <td><a href="/addsubject">เพิ่มรายวิชา</a></td>
            </tr>
            <tr>
                <td class="icon" ><i class="far fa-minus-square" style="height:30px;width:auto;"></i></td>
                <td><a href="/removesubject">ลดรายวิชา</a></td>
            </tr>
            <tr>
                <td class="icon" ><i class="fas fa-eraser" style="height:30px;width:auto;"></i></td>
                <td><a href="/withdrawsubject">ถอนรายวิชา</a></td>
            </tr>
            <tr>
                <td class="icon" ><i class="far fa-list-alt" style="height:30px;width:auto;"></i></td>
                <td><a href="/transcript">ขอใบ transcript</a></td>
            </tr>
            <tr>
                <td class="icon" ><i class="far fa-address-card" style="height:30px;width:auto;"></i></td>
                <td><a href="/">ขอใบสำเร็จการศึกษา</a></td>
            </tr>
            <tr>
                <td class="icon" ><i class="fas fa-external-link-alt" style="height:25px;width:auto;"></i></td>
                <td><a href="/logout">ออกจากระบบ</a></td>
            </tr>
        </tbody>
    </table>
    <p>ข้อมูลทั่วไป</p>
    <table class="mytable table table-hover" cellspacing="0" cellpadding="0">
        <tbody style="width:100%;">
            <tr>
                <td class="icon" ><i class="fas fa-book" style="height:30px;width:auto;"></i></td>
                <td><a href="/findsubject">ตรวจสอบรายวิชา</a></td>
            </tr>
        </tbody>
    </table>
</div>