<% include header.ejs %>
<style>
        html, body {
            height: 100%;
            margin: 0;
            text-align: center;
        }

        div.box {
            overflow: hidden;
            width: 2000px;
            height: 100%;
        }

        div.menubar {
            float: left;
            background-color: #f4f4f4c9;
            width: 300px;
            height: 100%;
        }

        .schoolimg {
            height: 150px; 
            width: auto; 
        }

        div.menubar > ul {
            position: relative;
            margin-right: auto;
            margin-left: auto;
            padding-left: 0;
            padding: 0;
        }
        
        div.content{
            float: left;
        }

        #hangbottom {
            position: relative;
            bottom: 10%;
            width: 40%;
            top: 300px;
        }
        
        table { 
            position: relative;
            margin: auto;
            border: none;
        } 

        tr {
            width: 100%;
            border: none;
        }
        tr:hover {
            background-color: #ffff99;
        }
        td.icon{
            padding-right: 10px;
        }

        a { 
            color: inherit; 
        } 
    
</style>

<body>
    <div class="box">
        <div class="menubar">
            <img class="schoolimg" src="/public/assets/imgs/chulalogo.png"/>
            <div style='height:20px;'></div>
            <p>นักเรียน</p>
            <table class="mytable table table-hover" cellspacing="0" cellpadding="0">
                <tbody style="width:100%;">
                    <tr>
                        <td class="icon" ><i class="far fa-plus-square" style="height:30px;width:auto;"></i></td>
                        <td><a href="/addsubject">เพิ่มรายวิชา</a></td>
                    </tr>
                    <tr>
                        <td class="icon" ><i class="far fa-minus-square" style="height:30px;width:auto;"></i></td>
                        <td><a href="/">ลดรายวิชา</a></td>
                    </tr>
                    <tr>
                        <td class="icon" ><i class="fas fa-graduation-cap" style="height:30px;width:auto;"></i></td>
                        <td><a href="/">ดูเกรดรายวิชา</a></td>
                    </tr>
                    <tr>
                        <td class="icon" ><i class="far fa-list-alt" style="height:30px;width:auto;"></i></td>
                        <td><a href="/">ขอใบ transcript</a></td>
                    </tr>
                    <tr>
                        <td class="icon" ><i class="far fa-address-card" style="height:30px;width:auto;"></i></td>
                        <td><a href="/">ขอใบสำเร็จการศึกษา</a></td>
                    </tr>
                    <tr>
                        <td class="icon" ><i class="fas fa-external-link-alt" style="height:25px;width:auto;"></i></td>
                        <td><a href="/logout">ออกจากระบบ</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="content">
            <div >
                <form>
                    <div class="form-group">
                        <label>Subject ID</label>
                        <input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<% include footer.ejs %>