<div class="menubar">
    <div style='height:20px;'></div>
    <img class="schoolimg" src="/public/assets/imgs/vishnulogo.png"/>
    <div style='height:20px;'></div>
    <p>STAFF</p>
    <div style="border-bottom:3px solid;width:80%;margin:auto"></div>
    <table class="mytable table table-hover table-borderless" cellspacing="0" cellpadding="0">
        <tbody style="width:100%;">
            <tr>
                <td class="icon" ><i class="fas fa-id-card" style="height:30px;width:auto;"></i></td>
                <td><a class="link" href="/studentinfo">ข้อมูลนิสิต</a></td>
            </tr>
            <tr>
                <td class="icon" ><i class="fas fa-universal-access" style="height:30px;width:auto;"></i></td>
                <td><a class="link" href="/findactivity">ค้นหากิจกรรม</a></td>
            </tr>
            <tr>
                <td class="icon" ><i class="fas fa-user" style="height:30px;width:auto;"></i></td>
                <td><a class="link" href="/findstudent">ตรวจสอบนิสิต</a></td>
            </tr>
            <tr>
                <td class="icon" ><i class="fas fa-user-plus" style="height:30px;width:auto;"></i></td>
                <td><a class="link" href="/vishnustudentreg">ลงทะเบียนนิสิต</a></td>
            </tr>
            <tr>
                <td class="icon" ><i class="fas fa-edit" style="height:30px;width:auto;"></i></td>
                <td><a class="link" href="/">แก้ไขข้อมูลทะเบียนนิสิต</a></td>
            </tr>
            <tr>
                <td class="icon" ><i class="fas fa-edit" style="height:30px;width:auto;"></i></td>
                <td><a class="link" href="/editstudentactivity">เพิ่ม/ลดนิสิตที่เข้าร่วมกิจกรรม</a></td>
            </tr>
            <tr>
                <td class="icon" ><i class="fas fa-edit" style="height:30px;width:auto;"></i></td>
                <td><a class="link" href="/editactivity">แก้ไขกิจกรรม</a></td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-primary" style="width:80%;margin:5px 0 5px 0;" href="/menu"><i class="fab fa-resolving" style="height:25px;width:auto;float:left"></i>ทะเบียนจุฬา</a>
    <a class="btn btn-danger" style="width:80%" href="/logout"><i class="fas fa-external-link-alt" style="height:25px;width:auto;float:left"></i></i>ออกจากระบบ</a>
</div>