<% include header.ejs %>
<link rel="stylesheet" href="/public/assets/css/vishnucustom.css">
<body>
    <div class="flexbox">
        <% include vishnumenubar.ejs %>
        <div class="content">
            <br>
            <h2 align="center">ลงทะเบียนนิสิต</h2>
            <br>
            <br>
            <form action="/vishnustudentreg" method="post">
                <h5 align="center">รหัสนิสิต</h5>
                <input type="text" name="studentID" placeholder="Enter Student ID">
                <br>
                <br>
                <br>
                <h5>กรุ๊ปที่จะเข้า</h5>
                <input type="text" name="Groupname" placeholder="Enter Group Name">
                <br>
                <br>
                <br>
                <h5>ฝ่ายที่จะเข้า</h5>
                <input type="text" name="affname" placeholder="Enter Affiliation Name">
                <tab></tab>
                <input type="text" name="affyear" placeholder="Enter Affiliation Year">
                <br>
                <br>
                <br>
                <button type="submit" class="btn btn-success" formmethod="post">Register</button>
                <% if(typeof error !== "undefined") { %>
                    <br>
                    <br>
                    <h5 style="color:red;"><%= error %></h5>
                <% } %>
                <% if(typeof success != "undefined") { %>
                    <br>
                    <br>
                    <h5 style="color:green;"><%= success %></h5>
                <% } %>
            </form>
            <br>
        </div>
    </div>
</body>
<% include footer.ejs %>